<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icono"
        android:label="AppList"
        android:supportsRtl="true"
        android:theme="@style/Theme.ListaCompras"
        tools:targetApi="31">
        <activity
            android:name=".Editar_Lista"
            android:exported="false"
            android:parentActivityName=".menuListas"/>
        <activity
            android:name=".agregarCategoria"
            android:exported="false"
            android:parentActivityName=".menuCategorias"
            android:screenOrientation="portrait" />
        <activity
            android:name=".agregarListas"
            android:exported="false"
            android:parentActivityName=".menuListas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".agregarArticulo"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menuCategorias"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menuConfiguracion"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menuListas"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>